.welcome-page {
  margin-top: 40px;
}

.detail-spacing {
  padding-top: 8px;
  padding-bottom: 8px;
}

.nav-bar {
  overflow-wrap: break-word;
}

.student-name-font {
  font-weight: 600;
  font-size: 2.8em;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.location-time-font {
  font-weight: 300;
  font-size: 25px;
  margin-left: 3px;
  margin-right: 6px;
}

.time-text {
  color: #eeeeee;
}

.student-name {
  font-family: Roboto;
}

.tutor-name {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-text {
  color: #eeeeee;
}

.time-slot-bold {
  font-weight: 500;
}

.time-slot-opaque {
  color: #999999;
}

.top-row-margin {
  margin-top: 25px;
}

.time-slot {
  font-size: 50px;
  margin-right: 15px;
  margin-left: 15px;
  font-weight: 400;
  border-bottom: 4px solid currentColor;
}

.row-card-wrapper {
  margin-right: -8px;
  margin-left: -8px;
}

.badge-custom {
  background-color: #ff8538;
}

.div {
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
}

.grid-item {
  background-color: lightblue;
  border-radius: 25px;
  border: 2px solid black;
  height: 150px;
  font-size: 20px;
}

.bottom {
  vertical-align: bottom;
}

.round {
  border-radius: 50%;
}

.left-align {
  text-align: left;
  padding-left: 15px;
  position: relative;
}

.bottom-align {
  text-align: left;
  margin-bottom: 1rem;
  position: relative;
}

.circular {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.circular img {
  width: 100%;
  height: auto;
}

.person-card.card {
  height: 210px;
  border: none;
  background-color: #fafafa;
}

.card-body {
  border-radius: 20px;
  background-color: #346fa8;
}

.appt-card {
  margin-bottom: 16px;
  padding-right: 8px;
  padding-left: 8px;
}

.icon-position {
  float: left;
}

.pill-position {
  float: right;
}

.selected-time {
  background-color: #ff8538;
}

.time-current {
  color: #272727;
}

.height {
  height: 20%;
}

.border {
  border: 2px;
  border-color: black;
}

.time-card {
  width: 50%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
