.student-name-font {
  font-weight: 600;
  font-size: 2.8em;
}

.location-time-font {
  font-weight: 300;
  font-size: 25px;
  margin-left: 3px;
  margin-right: 6px;
}

.time-text {
  color: #eeeeee;
}

.student-name {
  font-family: Roboto;
}

.tutor-name {
  font-family: Roboto;
}

.card-text {
  color: #eeeeee;
}

.time-slot-bold {
  font-weight: 500;
}

.time-slot-opaque {
  opacity: 35%;
}

.top-row-margin {
  margin-top: 25px;
}

.time-slot {
  font-size: 50px;
  margin-right: 15px;
  margin-left: 15px;
  font-weight: 400;
  border-bottom: 4px solid currentColor;
}

.row-card-wrapper {
  margin-right: -8px;
  margin-left: -8px;
}

.badge-custom {
  background-color: #ff8538;
}

.div {
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
}

.grid-item {
  background-color: lightblue;
  border-radius: 25px;
  border: 2px solid black;
  height: 150px;
  font-size: 20px;
}

.bottom {
  vertical-align: bottom;
}

.round {
  border-radius: 50%;
}

.left-align {
  text-align: left;
  padding-left: 15px;
  position: relative;
}

.bottom-align {
  text-align: left;
  margin-bottom: 1rem;
  position: relative;
}

.circular {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.circular img {
  width: 100%;
  height: auto;
}

.person-card.card {
  height: 210px;
  border: none;
  background-color: #fafafa;
}

.card-body {
  border-radius: 20px;
  background-color: #346fa8;
}

.appt-card {
  margin-bottom: 16px;
  padding-right: 8px;
  padding-left: 8px;
}

.icon-position {
  float: left;
}

.pill-position {
  float: right;
}

.selected-time {
  background-color: #ff8538;
}

.time-current {
  color: #272727;
}

.height {
  height: 20%;
}

.border {
  border: 2px;
  border-color: black;
}

.time-card {
  width: 50%;
}

/* Pagination links */
.pagination a {
  color: black;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  padding: 3px 3px;
  text-decoration: underline;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Style the active/current link */
.pagination a.active {
  background-color: white;
  color: black;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.slider-holder {
  width: 800px;
  height: 400px;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden;
}

.txt-holder {
  width: 2400px;
  background-color: red;
  height: 400px;
  clear: both;
  position: relative;

  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}

.slider-txt {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}

#slider-txt-1:target ~ .txt-holder {
  left: 0px;
}

#slider-txt-2:target ~ .txt-holder {
  left: -800px;
}

#slider-txt-3:target ~ .txt-holder {
  left: -1600px;
}

.button-holder {
  position: relative;
  top: -20px;
}

.slider-change {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: brown;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.carousel {
  background: white;
}

.carousel-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  counter-increment: carousel-increment;
  border: none;
}

.carousel-cell.is-selected::before {
  color: #272727;
  opacity: initial;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  contain: content;
  content: counter(carousel-cell);
  content: "pm";
  line-height: 200px;
  font-size: 80px;
  color: 272727;
  opacity: 32%;
  text-decoration: underline;
}

.flickity-page-dots .dot {
  width: 0px;
  height: 0px;
  background: white;
}

.flickity-page-dots {
  visibility: hidden;
}

.caption {
  background: #fafafa;
  margin: 0;
  padding: 10px;
  text-align: center;
}

div::before {
  content: attr(data-whatever);
}

p:hover::after {
  content: attr(data-tooltip);
  /* positioned and styled and whatnot */
  /* ya, a :focus style would buy you a tad more a11y */
}
